* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: rgba(142, 205, 142, 0.54);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}

.header {
  background-color: rgba(51, 160, 51, 0.54);
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.component {
  display: flex;
  gap: 0.5em;
}

.heading1 {
  font-size: 3vw;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  background-color: #fff;
  width: 5vw;
  border-radius: 10px;
}


.bubbles{
  height: calc(80vw - 15% );
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(142, 205, 142, 0.54);
    height:40px;
    width: 40px;
    border-radius: 100%;
    margin: 0.3vw;
cursor: pointer;
}

.restart{
display: inline-block;
outline: none;
cursor: pointer;
font-size: 2vw;
line-height: 1;
border-radius: 500px;
transition-property: background-color,border-color,color,box-shadow,filter;
transition-duration: .3s;
border: 1px solid transparent;
letter-spacing: 2px;
min-width: 160px;
text-transform: uppercase;
white-space: normal;
font-weight: 700;
text-align: center;
padding: 17px 48px;
color: #fff;
background-color: #1ED760;
}

.restart:hover{
  transform: scale(1.04);
  background-color: #21e065;
}